<h1>Plaid Link Demo</h1>
<!-- A hidden input named public_token will be appended to this form
once the user has completed the Link flow. Link will then submit the
form, sending the public_token to your server. -->

<%= form_tag '/accounts', {id: 'list_form'} do %>
  <input type='hidden' name='account_id' id='account_id'>
  <input type='hidden' name='institution[name]' id='institution_name'>
  <input type='hidden' name='institution[type]' id='institution_type'>
  <input type='hidden' name='public_token' id='public_token'>
<% end %>

<br />
<button type="submit" id='showButton'>Institution Select - show</button>
<br />
<br />
<button type="submit" id='downloadButton'>Institution Select - download</button>

<script src="https://cdn.plaid.com/link/stable/link-initialize.js"></script>
<script>
  var linkHandler = Plaid.create({
    env: '<%= ENV['PLAID_ENV'] %>',
    clientName: 'Client Name',
    key: '<%= ENV['PLAID_PUBLIC_KEY'] %>',
    product: 'auth',
    // To use Link with longtail institutions on Connect, set the
    // 'longtail' option to true:
    // longtail: true,
    onLoad: function() {
      // The Link module finished loading.
    },
    onSuccess: function(public_token, metadata) {
      // Send the public_token to your app server here.
      // The metadata object contains info about the institution the
      // user selected and the account ID, if selectAccount is enabled.
      $('#account_id').val(metadata['account_id']);
      $('#institution_name').val(metadata['institution']['name']);
      $('#institution_type').val(metadata['institution']['type']);
      $('#public_token').val(metadata['public_token']);
      $('#list_form').submit();
    },
    onExit: function() {
      // The user exited the Link flow.
    }
  });

  // Trigger the standard institution select view
  document.getElementById('showButton').onclick = function() {
    $('#list_form').attr('action', '/accounts');
    linkHandler.open();
  };

  document.getElementById('downloadButton').onclick = function() {
    $('#list_form').attr('action', '/accounts.csv');
    linkHandler.open();
  };
</script>
