<br />
<h1>Your Accounts</h1>
<br />
<ul class="list-unstyled">

  <% @user.accounts.each do |account| %>
    <li>
      <br />
      <br />
      <h4><%= "#{account.institution} - #{account.name} - #{account.meta['number']}" %></h4>
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd><%= account.meta['name'] %></dd>
        <dt>Number</dt>
        <dd><%= account.meta['number'] %></dd>
        <dt>type</dt>
        <dd><%= account.type %></dd>
        <dt>Subtype</dt>
        <dd><%= account.subtype %></dd>
        <dt>Institution</dt>
        <dd><%= account.institution %></dd>
        <dt>Available balance</dt>
        <dd><%= number_to_currency account.available_balance %></dd>
        <dt>Current_balance</dt>
        <dd><%= number_to_currency account.current_balance %></dd>
        <dt>Numbers</dt>
        <dd><%= account.numbers %></dd>
      </dl>
      <br />
      <table class="table">
        <thead>
          <tr class="text-nowrap">
            <th>Date</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Location</th>
            <th>Category hirerarchy</th>
            <th>Category ID</th>
            <th>Pending</th>
            <th>Pending Transaction ID</th>
            <th>Score</th>
            <th>Type Primary</th>
          </tr>
        </thead>
        <tbody>
          <% transactions_by_account(@transactions)[account.id].each do |transaction|%>
            <tr class="text-nowrap">
              <td><%= transaction.date %></td>
              <td><%= transaction.name %></td>
              <td><%= number_to_currency transaction.amount %></td>
              <td><%= location_for transaction.location %></td>
              <td><%= transaction.category_hierarchy.to_a.join(', ') %></td>
              <td><%= transaction.category_id %></td>
              <td><%= transaction.pending %></td>
              <td><%= transaction.pending_transaction_id %></td>
              <td><%= transaction.score %></td>
              <td><%= transaction.type[:primary] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </li>
  <% end %>
</ul>
<br />
<br />
<%= link_to 'back to form', root_path %>
<br />
<br />
